--find-links=https://girder.github.io/large_image_wheels GDAL
affine
altair
altair-data-server
altair-saver
altair-viewer
aniso8601
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
basemap
basemap-data
basemap-data-hires
beautifulsoup4
bleach
blinker
bottle
bqplot
branca
Brotli
cachelib
cachetools
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
click-plugins
cligj
clr-loader
colorama
colour
comm
contextily
contourpy
cramjam
cryptography
cssselect2
cycler
debugpy
decorator
defusedxml
Deprecated
duckdb
entrypoints
executing
fastjsonschema
fastparquet
ffmpeg-python
filelock
fiona
Flask
Flask-Caching
Flask-Cors
flask-restx
folium
fonttools
fpdf
fqdn
fsspec
future
gdown
geographiclib
geojson
geopandas
geopy
georinex
geos
gitdb
GitPython
googledrivedownloader
h11
hatanaka
here-map-widget-for-jupyter
html2pdf
html5lib
httplib2
idna
imageio
imageio-ffmpeg
img2pdf
importlib-metadata
importlib-resources
install
ipyevents
ipyfilechooser
ipykernel
ipyleaflet
ipython
ipython-genutils
ipytree
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
kaleido
kiwisolver
large-image
large-image-source-rasterio
leafmap
localtileserver
looseversion
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mercantile
mistune
morecantile
mplleaflet
mss
munch
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
ncompress
nest-asyncio
notebook
notebook_shim
numpy
ogr
opencv-python
opencv-python-headless
outcome
overrides
packaging
palettable
pandas
pandocfilters
parso
pathlib
patsy
pdfkit
pickleshare
pikepdf
Pillow
pip
platformdirs
plotly
plotly-express
portpicker
prometheus-client
prompt-toolkit
protobuf
proxy-tools
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
PyCRS
pydantic
pydantic_core
pydeck
pydyf
pygeos
PyGithub
Pygments
PyJWT
PyMuPDF
PyMuPDFb
PyNaCl
pyparsing
PyPDF2
pyphen
pyproj
PyQt5
pyqt5-plugins
PyQt5-Qt5
PyQt5-sip
pyqt5-tools
PyQt5Designer
PyQtWebEngine
PyQtWebEngine-Qt5
pyrsistent
pyshp
PySocks
pystac
pystac-client
python-box
python-dateutil
python-dotenv
python-gitlab
python-json-logger
pythonnet
pytz
pywebview
pywin32
pywinpty
PyYAML
pyzmq
qt5-applications
qt5-tools
QtPy
rasterio
ratelim
referencing
reportlab
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rio-cogeo
rpds-py
scipy
scooby
seaborn
selenium
Send2Trash
server-thread
setuptools
shapely
six
smmap
sniffio
snuggs
sortedcontainers
soupsieve
stack-data
statsmodels
streamlit
streamlit-deckgl
streamlit-folium
streamlit-highcharts
streamlit-option-menu
svgwrite
tenacity
terminado
testpath
tinycss2
tk
toml
tomli
toolz
tornado
tqdm
traitlets
traittypes
trio
trio-websocket
types-python-dateutil
typing_extensions
tzdata
tzlocal
unlzw3
uri-template
urllib3
uvicorn
validators
watchdog
wcwidth
WeasyPrint
webcolors
webencodings
websocket-client
Werkzeug
whitebox
whiteboxgui
widgetsnbextension
wrapt
wsproto
xarray
xyzservices
zipp
zopfli
